.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.booking-container h2 {
  color: #4caf50;
}

.booking-container p {
  font-size: 1.2em;
}
